## BACKEND API & MQTT

# Certificates - comment out when deploying with balena CLI.
backend/mqtt/certs/

# python
*__pycache__/
*pyc

backend/.pytest_cache/

backend/api.egg-info/
backend/build/
backend/dist/

# sqlite test DB
*.db

# misc
sample.env
*.env
*.env_dev


## NGINX & FRONTEND

# Nginx Certificates - comment out when deploying with balena CLI.
webserver/nginx/certs/

# Frontend dependencies
webserver/frontend/node_modules/

# Frontend production build - comment out when deploying with balena CLI.
webserver/frontend/build/

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
