## BACKEND API & MQTT

# Certificates
backend/mqtt/certs/

# python
*__pycache__/
*pyc

# sqlite test DB
*.db

# misc
sample.env
*.env
*.env_dev


## NGINX & FRONTEND

# Nginx Certificates
webserver/nginx/certs/

# Frontend dependencies
webserver/frontend/node_modules/

# Frontend production build
webserver/frontend/build/

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
