# The configuration of the Flask application.

# Error handling works properly when using flask-restful, if only we set the following configuration.
PROPAGATE_EXCEPTIONS = True

SQLALCHEMY_DATABASE_URI = 'sqlite:///app.db'
SQLALCHEMY_TRACK_MODIFICATIONS = False
SECRET_KEY = 'secret_key'

JWT_SECRET_KEY = 'test_secret_key'

JWT_BLACKLIST_ENABLED = False
# JWT_BLACKLIST_TOKEN_CHECKS = ['access', 'refresh']

SESSION_COOKIE_HTTPONLY = True

TESTING = True
